<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to DeepXROMM! How can I help?</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="has-background-light">
  <section class="section">
    <div class="container">
      <h1 class="title is-3">Welcome to DeepXROMM! How can I help?</h1>
      <div class="box">
        <ul>
          <li><a class="button is-link is-light is-fullwidth mb-2" href="{{ url_for('create_project') }}">Create a New Project</a></li>
          <li><a class="button is-link is-light is-fullwidth mb-2" href="{{ url_for('import_xmalab_data') }}">Export Training Data</a></li>
          <li><a class="button is-link is-light is-fullwidth mb-2" href="{{ url_for('export_dlc_data') }}">Import Training Data</a></li>
          <li><a class="button is-link is-light is-fullwidth mb-2" href="{{ url_for('train_network') }}">Train Network</a></li>
          <li><a class="button is-link is-light is-fullwidth mb-2" href="{{ url_for('track_new_trial') }}">Track New Trial</a></li>
          <li><a class="button is-link is-light is-fullwidth mb-2" href="{{ url_for('autocorrect_points') }}">Autocorrect Points</a></li>
          <li><a class="button is-link is-light is-fullwidth" href="{{ url_for('find_highest_variation') }}">Find Highest Variation</a></li>
        </ul>
      </div>
    </div>
  </section>
</body>
</html>

