name: docs 
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: 0.8.22

      - name: Set up python
        run: uv python install

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - uses: actions/cache@v5
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: uv add --dev mkdocs-material 
      - run: uv run mkdocs gh-deploy --force
